<nav>
  <div class="logo">
    <a href="/">
      <img src="/public/img/widepeepo.png">
    </a>
  </div>

  <div class="links">
    <a href="login">login</a>
    <a href="signup">signup</a>
  </div>

  <div class="settings">
    <button id="theme-toggle" type="button" name="theme"></button>
  </div>

</nav>

<script>
  var mainURL = "http://localhost:3000";
</script>
<style>

  #post-img-preview,
  #post-video-preview {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

</style>
