<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Social Network</title>
<!--
    <link rel="stylesheet" href="/public/css/main.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/color.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
-->

    <link rel="stylesheet" href="/public/css/includes.css">
    <link rel="stylesheet" href="/public/css/themes.css">

</head>
<header>
    <%- include('../includes/header.ejs') %>
</header>
<body>
    <%- body %>
</body>
<footer>
  <%- include('../includes/footer.ejs') %>
</footer>
</html>
