<%- include ("includes/header") %>

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
							<%- include ("includes/left-sidebar") %>
						</div>
						<div class="col-md-6">
							<div id="add-post-box"></div>
							<div class="loadMore" id="newsfeed">
							</div>
						</div>

						<div class="col-md-3">
							<%- include ("includes/right-sidebar") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="/public/js/timeline.js"></script>

<%- include ("includes/footer") %>
