<%- include ("includes/header") %>

<%- include ("includes/footer") %>

<!-- CoverBilled -->
<section>
    <div class"feature-photo">
    </div>

    <figure>
        <img class="cover-photo" id="cover-photo" style="width: 100; height: 700px; object-fit: cover;">
    </figure>

    <form class="phto" id="form-cover-photo" onsubmit="return false;">
    <i class="fa fa-camera-retro"></i>
    <label class="fileContainer">
        Edit Cover Photo
        <input type="file" accept="image/*" name="coverPhoto" onchange="uploadCoverPhoto();" require />

    </label>
    </form>

    <!-- Profil-billed -->
    <div  class="container-fluid">
        <div class="row merged">
            <div class="col-md-2">
                <div class="user-avatar">
                    <figure>
                        <img class="profile-image" id="profile-image" style="width: 100%; height: 150px; object-fit: cover;">
                        <form class="edit-phto" id="form-upload-image" onsubmit="return false;">
                            <i class="fa fa-camera-retro"></i>
                            <label class="fileContainer">
                                Edit Profile Picture
                                <input type="file" accept="imager/*" name="profileImage" onchange="uploadImage();" required />

                            </label>
                        </form>
                    </figure>
                </div>
            </div>
            <div class="col-md-10">
                <div class="timeline-info">
                    <ul>
                        <li class="admin-name">
                            <h5 class="user-name" style="padding-top: 20px; padding-bottom: 20px;"></h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var isUpdateProfile = true;

    function showProfileData() {
        document.querySelector(":cover-photo").setAttribute("src", mainURL + "/" + window.user.CoverPhoto);
        document.querySelector("profile-image").setAttribute("src", mainURL + "/" + window.user.profileImage);
        
    }
</script>