/*=========================
	FONT COLOR
=========================*/

.log-reg-area > p a,
.top-area > ul > li > a > span,
.timeline-info > ul li a:hover,
.we-reply,
.sidebar .widget li:hover > a, .sidebar .widget li:hover > i,
.f-title i,
.top-area > ul.main-menu > li > ul li a:hover, 
.form-group input:focus ~ .control-label, 
.form-group input:valid ~ .control-label, 
.form-group textarea:focus ~ .control-label, 
.form-group textarea:valid ~ .control-label
{
	color: #088dcd;	
}


/*=========================
	BACKGROUND COLOR
=========================*/

.timeline-info > ul li a::before,
form button,
.user-avatar:hover .edit-phto,
.f-title::before,
.info > a
{
	background: #088dcd;
}




/*=========================
	BORDER COLOR
=========================*/

.edit-phto:hover,
.user-avatar:hover .edit-phto,
.top-area > ul.main-menu > li ul
{
	border-color: #088dcd;	
}
.timeline-info > ul li a:after{
	border-bottom-color: #088dcd;
}
