*{
  margin: 0;
}

header {
  background-color: #d1d1d1;
  padding: 10px;
}

.theme-layout {
  height: 100px;
}

.topbar {
  height: 100%;
  display: flex;
  align-items: center;
}

/*Theme*/

.toggleTheme {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}


/*Button*/

#theme-toggle {
  border: none;
  background: url('/public/img/icons/themeToggleLight.svg') no-repeat;
  padding: 15px 15px;
  z-index: 99;
  cursor: pointer;
}

#theme-toggle:focus {
  outline: none;
}
