/*--- big screen ----*/

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    .edit-phto {
        left: 369px;
    }
    .user-avatar {
        margin-top: -225px;
    }
    .timeline-info > ul li a::after {
        bottom: -17px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
    .user-avatar {
        top: -33px;
    }
    .edit-phto {
        left: 315px;
        bottom: 125px;
    }
}

@media screen and (max-width: 1281px) and (min-width: 1024px) {
    .timeline-info {
        line-height: 51px;
    }
    .sidebar .widget li > a {
        font-size: 14px;
    }
    .user-avatar {
        width: 80.2%
    }
}


/*--- tablet landscape ---*/

@media screen and (max-width: 1024px) {
    .topbar {
        padding: 0 18px;
    }
    .top-area > ul.main-menu > li {
        margin-right: 20px;
        padding-right: 20px;
    }
    .top-area > ul.main-menu > li::after {
        right: 5px;
    }
    .edit-phto {
        bottom: 148px;
    }
    .sidebar {
        width: 100%;
    }
    .top-area > ul.main-menu {
        margin-left: 0;
    }
    .timeline-info > ul li {
        margin-right: 38px;
    }
    .user-avatar {
        margin-top: -90px;
    }
    .user-avatar .edit-phto {
        padding: 5px;
        top: auto;
        left: 0 !important;
    }
    .edit-phto {
        left: 218px !important;
    }
    .user-avatar {
        width: 100%;
    }

}


/*--- tablet view ---*/

@media screen and (max-width: 980px) {
    .gap {
        padding: 40px 0;
    }
    p {
        font-size: 14px;
    }
    .topbar {
        display: none;
    }
    .timeline-info > ul li {
        margin-right: 15px;
    }
    .timeline-info > ul li:last-child {
        margin-right: 0px;
    }
    .timeline-info > ul li a {
        font-size: 11px;
        margin-right: 13px;
    }
    .user-avatar {
        width: 90%;
        margin-top: -87px;
    }
    .edit-phto {
        padding: 5px 10px;
    }
    .edit-phto {
        left: 278px !important;
        bottom: 140px;
    }
    .timeline-info > ul li a {
        font-size: 13px;
        margin-right: 30px;
    }
    footer .widget {
        margin-top: 50px;
    }
    footer .row > div:nth-child(1) .widget,
    footer .row > div:nth-child(2) .widget,
    footer .row > div:nth-child(3) .widget {
        margin-top: 0;
    }
    .location > li p {
        width: 83%;
    }
    .log-reg-area {
        display: inline-block;
        position: unset;
        transform: translate(0px);
        width: 100%;
        height: inherit;
    }
    .sidebar {
        width: 100%;
        padding-bottom: 10px;
    }
    .sidebar .widget {
        margin: 10px;
        width: 47.2%;
    }
    .central-meta {
        margin: 10px 10px 10px 0;
        width: 100%;
    }
    .info > a {
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .edit-phto {
        bottom: auto;
        left: 60px !important;
        top: 50px;
    }
    .timeline-info > ul li a {
        font-size: 12px;
        margin-right: 11px;
    }
}

@media screen and (max-width: 640px) {
    p {
        font-size: 13px;
    }
    .topbar {
        display: none;
    }
    .user-avatar {
        margin: 0;
    }
    .feature-photo > figure {
        margin-bottom: 10px;
    }
    .user-avatar {
        border: medium none;
        border-radius: 0;
        width: 85%;
        margin: 10px 0;
    }
    .fileContainer {
        font-size: 10px;
    }
    .feature-photo > .edit-phto {
        bottom: auto;
        font-size: 13px;
        left: 20px !important;
        padding: 5px;
        top: 20px;
    }
    .user-avatar .edit-phto {
        padding: 5px;
        font-size: 12px;
        left: 0 !important;
    }
    .edit-phto .fileContainer [type="file"] {
        width: 100%;
    }
    .central-meta {
        padding: 30px 15px;
    }
    .newpst-input {
        width: 83%;
    }
    .we-comment {
        width: 30%;
    }
    .we-comet > li ul {
        margin-left: 20px;
    }
    .we-comet > li ul .we-comment {
        width: 21%;
    }
    .post-comt-box {
        width: 90%;
    }
    li.post-comment .comet-avatar {
        max-width: 8%;
        width: 8%;
    }
    .sidebar .widget:last-child {
        margin-bottom: 0;
    }
    form .dob .form-group {
        width: 100%;
    }
    .form-radio > .radio {
        width: 30%;
    }
    .log-reg-area {
        padding: 20px;
    }
    .mtr-btn {
        padding: 5px 20px;
    }
    .comet-avatar {
        max-width: 3.5%;
        width: 3.5%;
    }
    .sidebar {
        width: 100%;
    }
    footer {
        padding: 50px 0;
    }
    footer .row > div:nth-child(2) .widget,
    footer .row > div:nth-child(3) .widget {
        margin-top: 50px;
    }
    .feature-photo .container-fluid {
        padding: 0 30px;
    }
    .timeline-info > ul li a {
        font-size: 13px;
        margin-right: 33px;
    }
    .sidebar .widget {
        margin: 10px;
        width: 46.6%;
    }
    .feature-photo > figure {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .user-avatar {
        width: 30%;
    }
    .we-comet > li ul {
        margin-left: 0;
    }
    .comet-avatar {
        max-width: 5.3%;
        width: 5.3%;
    }
    .user-avatar {
        border: 4px solid #dfdfdf;
        margin-bottom: 10px;
        width: 45%;
    }
    .user-avatar {
        float: left;
        margin-top: 15px;
        width: 35%;
        margin-bottom: 12px;
    }
    .sidebar .widget {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        width: 100%;
    }
    footer .row > div:last-child .widget {
        margin-bottom: 0;
    }
    .timeline-info > ul li a {
        margin-right: 17px;
        margin-bottom: 8px;
    }
    .feature-photo .container-fluid {
        padding: 0 15px;
    }
    .timeline-info > ul {
        padding-left: 0;
        line-height: initial;
    }
    .timeline-info > ul li a::after {
        border-bottom: 5px solid;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        bottom: -5px;
    }
    .info {
        padding-left: 0;
    }
    .info p {
        font-size: 15px;
        padding-top: 0;
    }

}

@media screen and (max-width: 420px) and (min-width: 361px) {
    .timeline-info > ul li a {
        margin-right: 20px;
    }
    .comments > li > ul {
        padding-left: 0;
    }
}

@media screen and (max-width: 360px) {
    .user-avatar {
        width: 40%;
    }
    .coment-head > h5 {
        white-space: nowrap;
        max-width: 45%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .we-reply {
        vertical-align: super;
    }
    .coment-head > span {
        vertical-align: top;
    }
    .timeline-info > ul li {
        margin-right: 0;
    }
    .feature-photo .container-fluid {
        padding: 0 15px;
    }
    .comet-avatar {
        max-width: 7.3%;
        width: 7.3%;
    }
    .comments > li > ul {
        padding-left: 0;
    }

}

@media screen and (max-width: 320px) {
    .user-avatar {
        width: 40%;
    }
    .feature-photo > .edit-phto {
        top: 10px;
    }
    .comet-avatar {
        max-width: 10%;
        width: 10%;
    }

}