


/*=============== Fonts source Muli, Hobostd ===================*/

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@font-face {
    font-family: HoboStd;
    src: url('../fonts/HoboStd.ttf'), url('../fonts/HoboStd.eot');
}


/*===============
***General Styling
===============*/
html,body{
	font-family: "Muli", "Segoe Ui";
}
body {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #545454;
}

p {
    font-size: 14px;
    line-height: 26px;
    color: #8c8b8b;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    outline: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

img {
    height: auto;
    max-width: 100%;
}

.theme-layout {
    float: left;
    position: relative;
    width: 100%;
}

section {
    float: left;
    position: relative;
    width: 100%;
}

.gap {
    float: left;
    padding: 60px 0;
    position: relative;
    width: 100%;
}

.merged {
    margin: 0px;
    padding: 0;
}

.merged > div {
    padding: 0;
}

.row.merged > div {
    padding: 0;
}

.merged.row {
    margin: 0;
}

.merged.row > div {
    padding: 0;
}

.gray-bg {
    float: left;
    width: 100%;
    background: #f4f2f2;
}

[type="submit"],
button,
html [type="button"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

.checked {
    color: orange;
}


/*carousel nave style*/

.pdng0 {
    padding: 0;
}

#main {
    height: 350px;
}


/*======================/
***** Home page 1
======================*/



/*--- sticky header ---*/

header.stick {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}


/*--- landing page ---*/

.log-reg-area > h2 {
    font-weight: bold;
    text-transform: capitalize;
}

.log-reg-area > p {
    color: #878787;
    font-size: 14px;
}

.login-reg-bg {
    background: #f4f7f6 none repeat scroll 0 0;
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}

.log-reg-area {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 35px #e2e2e2;
    display: block;
    float: none;
    left: 50%;
    padding: 35px 55px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 505px;
}


.form-radio label {

    font-size: 13px;
}

.submit-btns {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.form-radio > .radio {
    display: inline-block;
    margin-bottom: 0;
    width: 20%;
}

.form-radio {
    margin: 0;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}


/*--- topbar ---*/

.topbar {
    background: #fff;
    display: block;
    height: 60px;
    padding: 0 48px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    position: relative;
}

.logo {
    display: inline-block;
    vertical-align: inherit;
    width: 5%;
    position: relative;
    z-index: 10;
}

.topbar > form {
    display: inline-block;
    vertical-align: sub;
    width: 26%;
    position: relative;
}

.top-area {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 84%;
}

.top-area > ul {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}

.top-area > ul > li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    vertical-align: top;
    z-index: 2;
}

.top-area > ul > li > a {

}

.top-area > span.main-menu {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    margin-right: -10px;
    vertical-align: inherit;
}

.top-area > ul > li > a > span {
    bottom: -10px;
    font-size: 11px;
    position: absolute;
    right: -4px;
}


/*--- timeline area ---*/

.feature-photo .container-fluid {
    padding: 0 43px;
}

.feature-photo {
    display: block;
    position: relative;
    width: 100%;
}

.feature-photo > figure {
    margin-bottom: 0;
}

.feature-photo > figure img {
    display: inline-block;
    width: 100%;
}

.user-avatar {
    border: 8px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px 25px 0;
    box-shadow: 0 1px 0 #e1e8ed;
    float: right;
    margin-top: -168px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.user-avatar > figure > img {
    width: 100%
}

.user-avatar > figure {
    margin-bottom: 0;
    position: relative;
}

.timeline-info {
    background: #fff none repeat scroll 0 0;
    display: block;
    line-height: 59px;
    width: 100%;
}

.timeline-info > ul {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: middle;
    width: 100%;
}

.timeline-info > ul li {
    display: inline-block;
    margin-right: 50px;
    position: relative;
}

.timeline-info > ul li a {
    display: inline-block;
    font-size: 14px;
    margin-right: 30px;
    position: relative;
    line-height: initial;
    text-transform: capitalize;
    padding-bottom: 3px;
    font-weight: 400;
}

.timeline-info > ul li a:last-child {
    margin-right: 0;
}

.timeline-info > ul li a::before {
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.2s linear 0s;
    visibility: hidden;
    width: 0;
}

.timeline-info > ul li a::after {
    border-bottom: 8px solid;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -12px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    display: none;
}

.timeline-info > ul li a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.edit-phto {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 100px;
    color: #fff;
    left: 275px;
    padding: 5px 20px;
    position: absolute;
    z-index: 9;
    border-radius: 3px;
    border: 1px solid transparent;
}

.edit-phto:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid;
    color: #fff;
}

.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.edit-phto .fileContainer [type="file"] {
    height: 35px;
    top: -11px;
    width: 126px;
}

.user-avatar .edit-phto {
    border-radius: 0;
    bottom: -40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.3s linear 0s;
    padding: 5px;
    text-align: center;
}

.user-avatar:hover .edit-phto {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}





/*--- sidebar widgets ---*/

.sidebar {
    display: flex;
    justify-content: center;
    float: none;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%;
}

.sidebar .widget {
    display: inline-block;
    position: relative;
    width: 50%;
    margin-bottom: 30px;
    background: #fdfdfd;
    border: 1px solid #ede9e9;
    border-radius: 3px;
}

.sidebar .widget:last-child {
    margin-bottom: 0;
}

.sidebar .widget > ul {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0 25px 20px;
    width: 100%;
}

.sidebar .widget li {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.sidebar .widget li:last-child {
    margin-bottom: 0;
}

.sidebar .widget li i {

    display: inline-block;
    font-size: 11px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.sidebar .widget li > a {
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.sidebar .widget li > a i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    font-size: 25px;
}

.central-meta {


    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
}

.new-postbox {
    display: inline-block;
    width: 100%;
}

.new-postbox > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
}

.newpst-input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 85.5%;
}

.newpst-input > form {
    display: inline-block;
    width: 100%;
}
.newpst-input textarea {
    float: left;
    width: 100%;
}
.attachments {
    display: block;
    text-align: right;
    border-top: 0;

}

.attachments > ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

.attachments li {
    display: inline-block;
    margin-left: 5px;
}

textarea {
    border-radius: 6px 6px 0 0;
    padding: 10px;
    width: 100%;
    border: none;
}

button {
    border: medium none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 10px;
        background: #088dcd;
}

.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 20px;
}





/*--- comment area ---*/

.coment-area {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

.we-comet {
    float: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.we-comet > li {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.we-comet > li:last-child {
    margin-bottom: 0;
}

.comet-avatar {
    display: table-cell;
    max-width: 7.6%;
    vertical-align: top;
    width: 4.6%;
}

.we-comment {
    border: 1px solid #ede9e9;
    display: table-cell;
    margin-left: 20px;
    padding: 10px;
    vertical-align: top;
    position: relative;
    width: 65%;
}




.we-comet > li ul {
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

.we-comet > li ul li {
    margin-bottom: 20px;
}

.we-comet > li ul li:last-child {
    margin-bottom: 0;
}

.coment-head {
    display: inline-block;
    width: 100%;
}



.coment-head > h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0;
    color: #2a2a2a;
}

.we-comment > p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
    max-width: 100%;
    margin-top: 5px;
}

.we-reply {
    text-transform: capitalize;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
}

.coment-head > span {

    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
}


.coment-area li {
  margin-left: 40px;
  width: 80%;

}

li.post-comment .comet-avatar {
    display: inline-block;
    max-width: 6%;
    vertical-align: top;
    width: 6%;
}

.post-comt-box {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    width: 93%;
}

.post-comt-box form textarea {
    border-color: transparent;
    border-radius: 3px;
    font-size: 13.5px;
    font-weight: 500;
    height: 40px;
    line-height: 16px;
}

.post-comt-box form button {
    bottom: 0px;
    position: absolute;
    right: 0;
    /*background: none;*/
}

.friend-info {
  display: flex;
}

.friend-name {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}



.friend-info figure {

}

.post-meta {
  margin: 0 0 0 65px;
}












/*--- search friend widget ---*/

span.status {
    background: #bebebe none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    display: inline-block;
    height: 12px;
    padding: 2px;
    position: absolute;
    right: 0;
    width: 12px;
}

span.status::after {
    background: white none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
}


/*--- footer ---*/

footer {
    background: #fff;
    float: left;
    padding: 75px 0;
    width: 100%;
    position: relative;
}

footer::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 0%, #2fa7cd 50%, #ffffff 100%) repeat scroll 0 0;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.widget {
    float: left;
    width: 100%;
}

.location {
    list-style: outside none none;
    padding-left: 0;
    margin: 0;
}

.location > li {
    display: block;
    margin-bottom: 15px;
}

.location > li:last-child {
    margin-bottom: 0;
}

.location > li i {
    margin-right: 10px;
    color: #4b4b4b;
}

.location > li p {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 88%;
    margin-bottom: 0;
    color: #545454;
}

.widget > a {
    display: inline-block;
    margin-bottom: 32px;
}

footer .logo {
    margin-bottom: 15px;
    width: 100%;
}

.logo > a {
    display: inline-block;
    vertical-align: middle;
}




/*input[switch="bool"]:checked + label {
    background-color: #bce954;
}*/

.theme-layout::before {
    background: url(../images/dot-pattern.png);
    background-repeat: repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s linear 0s;
    visibility: hidden;
    opacity: 0;
}


/*--- svg play button ---*/

.edit-phto {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



/*---- your page widget ---*/

.f-title {
    font-size: 17.5px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.f-title::before {
    bottom: 8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.f-title i {
    font-size: 14px;
    margin-right: 5px;
}


/*--- edit basic info page ---*/

.editing-info > form {
    margin-top: 25px;
}

form .dob .form-group {
    display: inline-block;
    margin-right: 20px;
    width: 30.6%;
}

form .dob .form-group:last-child {
    margin-right: 0;
}




/*--- sticky sidebar ---*/

#page-contents {
    position: relative;
}

.static,
.static > div {
    position: static !important;
}



/*--- main menu ---*/

.top-area > ul.main-menu > li ul {
    left: 0;
    list-style: outside none none;
    padding-left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    background: #fff;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 4px 7px 20px 0 rgba(0, 0, 0, 0.09);
    transition: all 0.2s linear 0s;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid;
}

.top-area > ul.main-menu > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.top-area > ul.main-menu {
    /*float: left;*/
    margin-left: 0px;
    line-height: 60px;
}

.top-area > ul.main-menu > li {
    line-height: 59px;
    margin-right: 30px;
    padding-right: 30px;
    position: relative;
}

.top-area > ul.main-menu > li a {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.3px;
}



.top-area > ul.main-menu > li > ul li {
    line-height: initial;
}

.top-area > ul.main-menu > li > ul li a {
    color: #5f5f5f;
    display: inline-block;
    font-size: 13.5px;
    font-weight: normal;
    padding: 10px 15px;
    width: 100%;
    text-transform: capitalize;
    transition: all 0.2s linear 0s;
    border-radius: 0 0 5px 5px;
}

.top-area > ul.main-menu > li > ul li a:hover {
    background: #f5f5f5 none repeat scroll 0 0;
    padding-left: 17px;
}



/*---- inbox page ---- */


.form-radio label {
    color: #676767;
}





/*--- fixed sidebar right ---*/

@keyframes slidedown {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2000px 2000px;
    }
}

@keyframes slide {
    0% {
        background-position: 0 0;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    100% {
        background-position: -4000px 0;
        background-position-x: -4000px;
        background-position-y: 0px;
    }
}


/*--- comments section ---*/

.comments {
    float: left;
    list-style: outside none none;
    padding-left: 0;
    width: 100%;
    margin-bottom: 0;
}

.comments > li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.comments > li:last-child {
    margin-bottom: 0;
}

a.reply {
    display: inline-block;
    font-size: 12px;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
    text-decoration: underline;
    text-transform: capitalize;
    vertical-align: middle;
}

.comments > li > ul {
    float: left;
    list-style: outside none none;
    margin-top: 17px;
    padding-left: 60px;
    width: 100%;
}



/*--- offcanvas menu ---*/

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes blobby {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blobby2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.18);
    }
    100% {
        transform: scale(1);
    }
}




/*--- featured top video post ---*/

.info {
    float: left;
    padding-left: 73px;
    width: 100%;
}

.info span {
    float: left;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    padding-bottom: 6px;
    text-transform: capitalize;
    width: 100%;
}

.info p {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 100%;
    padding-top: 15px;
    line-height: 28px;
}

.info > a {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
    width: 150px;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.info > a:hover {
    color: #222;
    background: #fff;
}

.description p{
    overflow-wrap: break-word;
}

.we-comment {
  border: none;
}


.coment-area li:not(:last-child) p {
  overflow-wrap: break-word;

}

.comet-avatar img{
  object-fit: cover;
}

.friend-name ins {
  text-decoration: none;
  text-transform: capitalize;
}

/*--- Profile ---*/
#profile-info {
  display: flex;
}
#followers {
  right: 0;
  position: absolute;
}
