
.darkModeBody {
  background-color: #303030;
  color: white;
}

.darkModeHeader {
  background-color: #404040;
  color: white;
}


.darkModeLinks {
  color: red;
}


.darkModeInput {
  background-color: #404040;
}















/*Button*/

#theme-toggle {
  border: none;
  background: url('/public/img/themeToggleLight.svg') no-repeat;
  padding: 15px 15px;

  cursor: pointer;
}
